:root {
    --std-bg-col: #fff2e3;
    --result-bg-col: #ffffff;
    --std-accnt-col: #dd7f32;
    --std-font-col: #000000;
    --std-font-sty: 'Raleway', sans-serif;
}

html {
    scrollbar-width: none;
}

body {
    font-family: var(--std-font-sty);
    background-color: var(--std-bg-col);
    color: var(--std-font-col);
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
}

#top-border {
    width: 100%;
    background-color: var(--std-accnt-col);
}

#top-border-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-style: italic;
}

#top-border-logo-img {
    height: 40px;
}

#background-div {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background-image: url("./imgs/wallpaper1-pages.jpg");
    background-size: cover;
    z-index: -999;
}

#main-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contents {
    margin-top: 40vh;
    width: 70%;
}

#search-field {
    width: 100%;
    display: flex;
    fill: 1;
}

#search-button {
    float: right;
    font-size: 20px;
    border: 0;
    background-color: var(--std-accnt-col);
    border-radius: 20px;
    margin-left: 10px;
}

#search-bar {
    width: 100%;
    border: 0;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#placeholder {
    width: 100%;
}

.search-result-person {
    width: 100% - 20px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: var(--result-bg-col);
}

.person-name {
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 100h;
}
.person-name a{
    color: var(--std-font-col);
    text-decoration:none;
}

.person-name a:hover {
    color: var(--std-accnt-col);
}

.person-info {
    font-style: italic;
}

.person-prize a{
    color: var(--std-font-col);
    text-decoration:none;
}

.person-prize a:hover{
    color: var(--std-accnt-col);
}