:root {
    --std-bg-col: #fff2e3;
    --result-bg-col: #ffffff;
    --std-accnt-col: #B59410;
    --std-accnt-hover-col: #975a27;
    --std-font-col: #000000;
    --std-font-sty: 'Raleway', sans-serif;
    --err-font-col: #ffffff;
    --err-bg-col: #e73d3d;
    --err-accnt-col: #8f2525;
}

html {
    scrollbar-width: none;
}

body {
    font-family: var(--std-font-sty);
    background-color: var(--std-bg-col);
    color: var(--std-font-col);
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
}

.error-field{
    margin-top: 10px;
    background-color: var(--err-bg-col);
    color: var(--err-font-col);
    border-style: solid;
    border-color: var(--err-accnt-col);
    border-width: 2px;
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

#top-border {
    width: 100%;
    background-color: var(--std-accnt-col);
}

#top-border-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-style: italic;
}

#top-border-logo-img {
    height: 40px;
}

#background-div {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background-image: url("./imgs/wallpaper1-pages.jpg");
    background-size: cover;
    z-index: -999;
}

#main-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contents {
    margin-top: 40vh;
    width: 70%;
}

#search-field {
    width: 100%;
    display: flex;
    fill: 1;
}

#search-button {
    float: right;
    border: 0;
    border-radius: 20px;
    margin-left: 10px;
}





#filter-button {
    width: 100%;
    border: 0;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}

#search-bar {
    width: 100%;
    border: 0;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

.testcheckbox {
    visibility: visible;
    height: auto;
}

#placeholder {
    width: 100%;
}

#prev-page-button{
    margin-top: 10px;
}

#next-page-button{
    margin-top: 10px;
    float: right;
}

.pageButton{
    visibility: hidden;
}



.search-result-person {
    width: 100% - 20px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: var(--result-bg-col);
}

.person-name {
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 100h;
    width: 90%;
}

.person-name a {
    color: var(--std-font-col);
    text-decoration: none;
}

.person-name a:hover {
    color: var(--std-accnt-col);
    text-decoration: none;
}

.person-info {
    font-style: italic;
}

.person-prize a {
    color: var(--std-font-col);
    text-decoration: none;
}

.person-prize a:hover {
    color: var(--std-accnt-col);
    text-decoration: none;
}



.search-result-company {
    width: 100% - 20px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: var(--result-bg-col);
}

.company-name {
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 100h;
    width: 90%;
}

.company-name a {
    color: var(--std-font-col);
    text-decoration: none;
}

.company-name a:hover {
    color: var(--std-accnt-col);
    text-decoration: none;
}

.company-info {
    font-style: italic;
}

.company-prize a {
    color: var(--std-font-col);
    text-decoration: none;
}

.company-prize a:hover {
    color: var(--std-accnt-col);
    text-decoration: none;
}





.filter {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}



.searchButton{
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: var(--std-accnt-col);
}

.searchButton:hover{
    background-color: var(--std-accnt-hover-col);
}


/* Klasse für dropdown Content */
.dropdown-content {
    position: absolute;
    width: 40%;
    overflow: auto;
    display: none;
    background-color: #eda4a4;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    z-index: 999;
}


/* die einzelnen Container um Inhalt themathisch zu sortieren */
.divContentDropdown {
    left: 0;
    align-self: start;
    justify-self: left;
    margin: 1%;
    border-radius: 5px;
    background-color: #f4c4c4;
    padding: 10px;
}



.filter:hover,
.filter:focus {
    background-color: #3e8e41;
}

#dropdown {
    position: relative;
    display: inline-block;
}

.show {
    display: block;
}














/* Alles für die Jahrboxen */
.yearInput {
    position: relative;
    padding-left: 5%;
    text-align: center;
    align-self: right;
    width: 30%;
}


#contentYear {
    display: flex;
    flex-direction: row;
}





/* Alles für die checkbox */
/* Customize the label (the checkbox) */
.checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked~.checkmark {
    background-color: #f32121;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}






/* Alles für bookmark */
.bookmarkButton {
    width: 10%;
    height: auto;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--std-accnt-col);
}

.bookmarkButton:hover {
    background-color: var(--std-accnt-hover-col);
    
}

